*{
    box-sizing: border-box;
  }

body{ 
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.menu{
    background-color: white;
    text-align: left;
    padding: 0;
    margin: 0;
    width: 100%;
        
}
nav a img{
    width: 30px;
    height: 30px;
    
}  

.menu li a{
    text-decoration: none;    
    font-size: 19px;
    padding: 15px;
    color: black;
    display: block;
}

.menu li a:hover{
    background-color: grey;
    text-decoration: white;
}

.menu li{
    display: inline-block;
    text-align: left;
}
nav input{
  float: center;
  padding: 6px;
  border: none;
  font-size: 17px;
  width: 50%;
  margin-left: 240px;
  padding-top: 10px;
}
img {
    float: left;
    width: 19%;
    border-radius: 30px;
    box-shadow: inset;
}
.columna {
    display: flex;  
    padding: 5px;
   
}
.fila {
    flex: 25%;
    padding: 5px;
    
}
.fila img {
    margin-right: 5px;
    align-items: flex-end;
    box-shadow: 0px 7px 10px;

}

.fila:hover{
    transform: translateY(20px);
    
}

@media (max-whidth:600px){
    .columna{flex-direction: column;
 }
}